/* --------------------------------------
 * FONTS
 * --------------------------------------
 */
@font-face {
        font-family: "Arcade-Normal";
        src:url('./font/Arcade-Normal.ttf.woff') format('woff'),
            url('./font/Arcade-Normal.ttf.svg') format('svg'),
            url('./font/Arcade-Normal.ttf.eot'),
            url('./font/Arcade-Normal.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}

:root {
    
}

* {
 font-family: "Arcade-Normal", sans-serif;
 font-weight: lighter;
    margin: 0;
}

#banner {
    background-color: #000000;
    color: #FFFFFF;
    padding: 20px;
}

#banner h1 {
    font-size: 1.5em;
}

/* --------------------------------------
 * CARTRIDGE - Inspired by manz.dev -> https://www.reddit.com/r/webdev/comments/18fjmyf/nintendo_gameboy_cartridge_css/
 * --------------------------------------
 */

cartridge {
    display: flex;
    flex-direction: column;
    background-color: grey;
    border: solid 5px #000000;
    padding: 20px 50px 15px 50px;
 }

 .cartridge-label{
    background-color: grey;
    display: flex;
    flex-direction: column;
    background-color: grey;
    border: solid 5px #000000;
    border-top: none;
    padding: 15px;
 }

 .cartridge-label a {
    color: goldenrod;
    padding: 3px;
 }

 .cartridge-end {

 }

#game-list {
    display: flex;
    flex-direction: row;
}

.game-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #CCCCCC;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #F9F9F9;
}

.game-cover-image{
    

}

.game-cover-image, .game-screenshot {
    width: 200px;
    height: auto;
}

#logo {
    width: 100px;
    height: auto;
    margin-top: 20px;
}

nav {
    background-color: #333333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}




